terratowns_endpoint="https://terratowns.cloud/api"
starcraft = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/starcraft"
  content_version = 2 
}
payday = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/payday"
  content_version = 1 
}